.banner-wrapper {
  background-color: #102338;
  height: 570px;
}

.banner-inside {
  display: flex;
  gap: 100px;
}

.banner {
  background-color: #102338;
  flex: 0.5;
  display: flex;
  justify-content: flex-end;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 37px;
    padding: 37px 60px 0 60px;
    color: white;
    width: 700px;
    background-color: #102338;

    #breadcrumbs {
      font-size: 14px;
      color: #eef0f1;
      span {
        text-decoration: underline;
      }
    }

    h1 {
      width: 698px;
      height: 69px;
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 108%;
    }

    h2 {
      height: 72px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: #ffffff;
    }
  }

  &__right {
    background-image: url(../../public/images/blue-banner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover !important;
    flex: 0.5;
    height: 425px;
  }
}

@media (max-width: 814px) {
  .banner {
    flex: unset;
    display: unset;
    justify-content: unset;
  }

  .banner-inside {
    gap: unset;
    flex-direction: column;
  }

  .banner__left {
    gap: 12px;
    width: unset;
    padding: 20px;
    flex: 1;
  }

  .banner__left h1 {
    width: unset;
    height: unset;
    font-size: 32px;
  }

  .banner__left h2 {
    height: unset;
    font-size: 16px;
  }

  .banner__right {
    background-position: right;
    background-size: contain !important;
    height: 167px;
    flex: unset;
    margin-top: 59px;
  }

  #breadcrumbs {
    margin-bottom: 12px;
  }
}

@media (max-width: 493px) {
  .banner__right {
    margin-top: 35px;
  }
}

@media (max-width: 333px) {
  .banner__right {
    margin-top: 19px;
  }
}
