.related-block-link {
  background-color: #0e2548;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 55%;
  padding-left: 40px;
  padding-right: 40px;
}

.related-block-link .slick-slide div {
  min-height: unset !important;
}
.related-block-link h4,
.related-block .author {
  color: #ffffff;
}
.related-block-link .date,
.related-block-link .combined,
.related-block-link .topics a:visited,
.related-block-link .topics span {
  color: #ffffff !important;
}

.related-block-link .slick-dots li {
  position: unset;
}
.related-block-link .slick-dots li:after {
  background: unset;
  height: 12px;
  width: 12px;
  border: 2px solid #3577da;
}
.related-block-link .slick-dots .slick-active:after {
  background-color: rgba(53, 119, 218, 1) !important;
}

.related-block-link .button_block {
  display: flex;
  justify-content: center;
}

.related-block-link .category {
  margin: 10px 5px 0 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 60%;
  background: unset;
  height: 40px;
  width: 40px;
  border: 2px solid #3577da;
  justify-content: center;
  align-items: center;
  display: flex;
}
.related-block-link .category img {
  width: 18px;
  height: 24px;
}

.related-block-link .links-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.related-block-link .links-btn-row .btn-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  width: 592px;
  height: 56px;
  background: #1d52a2;
  border-radius: 0px 0px 8px 8px;
}

.related-block-link .links-btn-row .btn-item div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 6px;

  width: 288px;
  height: 40px;

  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-item-active {
  background: #3577da;
  border-radius: 6px;
}

@media screen and (max-width: 650px) {
  .related-block-link .links-btn-row .btn-item {
    width: 100%;
    height: 56px;
  }
  .related-block-link .links-btn-row .btn-item div {
    font-size: 12px;
  }
  .related-block-link .links-btn-row .btn-item div img {
    width: 14px;
  }
  .related-block-link .slick-slide.slick-active.slick-current {
    width: 268px !important;
  }
}

///////////////////////////
.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;

  height: 400px;
  color: #fff;
  cursor: pointer;
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}

.card-bottom {
  margin: 10px 20px;
}

.category {
  position: relative;
}
.category::before {
  content: '';
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}
