.related-link {
  background-color: #0d2548;
  height: 620px;
  width: 1512px;
  margin: 0 auto;
  padding: 0 50px;
  border-top-left-radius: 151px;

  &__title {
    max-width: 600px;
    background-color: #1d52a2;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;

    &__inside {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #3577da;
      padding: 5px;
      width: 270px;
      border-radius: 6px;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }

  &__icons {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.slick-dots li button:before {
  width: 6px;
  height: 6px;
  border: 2px solid #3577da !important;
  border-radius: 50%;
  color: transparent !important;
  transition: all 0.3s ease;
}

.slick-dots .slick-active button:before {
  background-color: #3577da !important;
  width: 16px !important;
  border-radius: 35% !important;
}

.slick-dots {
  margin-top: 16px;
  position: static;
}
