.info-arrow {
  position: absolute;
  right: 120px;
  top: 115px;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #102338;
}
