.home {
  background-color: white;
  border-top-left-radius: 151px;
  position: relative;
  bottom: 145px;
  padding-left: 156px;
  padding-right: 20px;
}

.table-menu {
  max-width: 1550px;
  margin: 55px auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__search {
    width: 470px;
    background-color: #f5f6f7;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 18px;
  }
}

.show-list-wrapper {
  z-index: 1;
  position: absolute;
  right: 25px;
  top: 50px;
}

.show-list {
  width: 157px;
  height: 107px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-top: 1px solid #dddddd;
}

.show-list-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.show-list-arrow {
  position: absolute;
  right: 90px;
  top: 51px;
  z-index: 2;
}

.show-list-arrow::before,
.show-list-arrow::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 19px;
  border: 11px solid transparent;
  border-bottom-color: #dddddd;
}

.show-list-arrow::after {
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}

@media (max-width: 931px) {
  .home {
    border-top-left-radius: 0px;
    padding-left: 20px;
  }

  .table-menu {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 30px;

    &__search {
      width: unset;
      max-width: 400px;
    }

    &__btns {
      justify-content: flex-end;
    }
  }

  .show-list-wrapper {
    top: 115px;
  }

  .show-list-arrow {
    position: absolute;
    right: 90px;
    top: 116px;
    z-index: 2;
  }
}
