.heroWrapper {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-left: 60px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  max-width: 696px;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #1a2746;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
}

.hero__right {
  padding-top: 40px;

  &__inside {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: #f8f9f9;
    border-radius: 40px 0px;
    padding: 24px;
    max-width: 430px;
    min-width: 350px;

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */

      /* Primary/Blue/Blue (300) */

      color: #3577da;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      /* identical to box height, or 20px */

      /* Primary/Red */

      color: #e0121d;
    }

    &__middle {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        /* or 20px */

        color: #000000;
      }
    }
  }
}

@media (max-width: 1255px) {
  .heroWrapper {
    gap: 20px;
  }
}

@media (max-width: 814px) {
  .heroWrapper {
    flex-direction: column;
    padding: 0 20px;
  }

  .hero__right__inside {
    min-width: unset;
  }
}
