.heroWrapper {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  height: 100%;
}

.hero__left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.hero__right {
  flex: 0.5;
  padding-top: 40px;

  &__inside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #f8f9f9;
    border-radius: 40px 0px;
    padding: 30px;

    &__middle {
      display: flex;
      align-items: center;
    }
  }
}
