.heroWrapper {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  max-width: 696px;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #1a2746;
  }

  p {
    font-style: normal;
    font-weight: 50;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
}

.hero__right {
  padding-top: 40px;

  &__inside {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: #f8f9f9;
    border-radius: 40px 0px;
    padding: 24px;
    max-width: 430px;
    min-width: 350px;

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: #3577da;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;

      color: #e0121d;
    }

    &__middle {
      display: flex;
      align-items: center;
      gap: 12px;

      p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;

        color: #000000;
      }
    }
  }
}

@media (max-width: 1255px) {
  .heroWrapper {
    gap: 20px;
  }
}

@media (max-width: 931px) {
  .heroWrapper {
    flex-direction: column;
    padding-left: 0px;
  }

  .hero__right__inside {
    min-width: unset;
  }
}
