@import '../../styles/variables';

.row-title {
  @include flexCenter;
  width: 7rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  border-radius: 0 2rem 0 2rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
