//row colors
$pink: #d55370;
$pink-soft: #e18591;

$yellow: #f0dc35;
$yellow-soft: #f6e57d;

$orange: #dd6b32;
$orange-soft: #e89365;

$green: #9dbd4b;
$green-soft: #b9ce80;

$blue-soft: #addfe9;
$blue-soft-soft: #c5e8ef;

$blue-dark: #22aade;
$blue-dark-soft: #77bfe7;

$purple: #d34f9c;
$purple-soft: #de85b7;

//background colors
$footer-bg: #102338;
$light-gray: #f5f4f4;
