* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@import './mixin';

//UI
@import '../components/UI/row-title';
@import '../components/UI/row-main';

//components
@import '../components/Rows/row-wrapper';
@import '../components/Rows/row-main-wrapper';
@import '../components/Footer/footer';

//pages
@import './pages/home';
@import './pages/documentNumber';
